#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  overflow-x: hidden;
  /* sets full-page black */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



#homepage-hero {
  background-image: url('/src/assets/horse2.png');
  background-position: center -700px;
  background-size: cover;
  margin-bottom: 10%;
  padding-top: 0px;
  height: 95vh;
}


#homepage-container {
  width: 100%;
}

#council-members {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}

#council-members-header {
  font-size: x-large;
  margin-top: 5%;
  margin-bottom: 2%;
}

.display-4 {
  padding-top: 10%;
  font-family: monospace;
  color: white;
}

.lead {
  font-family: monospace;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: larger;
}


#homepage-hero-text {
  visibility: hidden;
  /* prevent blocking clicks */
  animation: fadeInText 2s forwards;
  animation-delay: 2s;


}

#ryders-law-bio {
  margin-bottom: 20px;
  color: white;
  font-size: xx-large;
  margin-bottom: 10%;
}

#fight-is-not-over {
  margin-top: 30px;
  font-family: monospace;
  font-size: x-large;
  margin-bottom: 10%;
}

#ryders-law-image{
  margin-bottom: 10%;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  /* start transparent */
  animation: darkenBackground 1s forwards;
  animation-delay: 2s;
  /* start 5s after page load */
}


@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    /* final state visible */

  }

}

@keyframes darkenBackground {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.4);
    /* adjust darkness */
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media only screen and (max-width: 600px) {
  #homepage-hero {
    background-position: -50px 0px;
    height: 500px;


  }

  .display-4 {
    padding-top: 30%;
    font-family: monospace;
    color: white;
  }

  #council-members {
    display: flex;
    flex-direction: column;
  }






}

@media only screen and (min-width: 850px) {
  #homepage-hero {
    background-position: center -300px;
    height: 95vh;

  }



}

@media only screen and (min-width: 1200px) {

  #homepage-hero {
    background-position: center -700px;
    height: 95vh;

  }



}